footer {
  color: rgb(248, 178, 125);
  position: relative;

  &::after {
    content: "";
    width: 50%;
    height: 0.05px;
    position: absolute;
    top: -10px;
    left: 25%;
    background: orange;
    z-index: 1;
  }

  .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .text {
      h2 {
        text-transform: uppercase;
        font-family: "Open-sans-light";
        font-size: 10px;
      }
    }
    .social {
      display: flex;
      gap: 1rem;

      a {
        text-decoration: none;
        transition: 1s;

        &:hover {
          transform: scale(2);
        }
      }
      .github {
        color: white;
      }
      .linkedin {
        color: rgb(34, 151, 224);
      }
      .instagram {
        color: rgb(238, 69, 97);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    margin: 2rem 0;

    &::after {
      top: -5px;
    }

    .footer-container {
      .social {
        gap: 0.5rem;
        a {
          &:hover {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}
